body {
    background: #eef;
    font-family: "sans-serif";
}

h1 {
    text-align: center;
}
#reader {
    width: 450px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    background: white;
}
#reader p {
    margin: 1em;
}
.runner {
    font-variant: small-caps;
    font-size: 87%;
    color: #900;
}
.bookTitle {
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

